{% extends 'layout.html' %}

{% block body %}
    <h1>Ini Tabel Financial</h1>
    <table class="table">
        <thead>
            <tr>
                {%  for item in dataX.columns%}
                    <th>{{item}}</th>
                {%  endfor  %}
            </tr>
        </thead>
        <tbody>
            {% for index,item in dataX.iterrows() %}
                <tr>
                    {% for col in item %}
                        <td>{{col}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock body %} 